<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Ohé! Du bateau!!!</title>
  </head>
  <body>
    <h1>Bienvenue dans la famille THP futur moussaillon <%= @user.name %>!!!</h1>
    <p>
      Toutes les semaines nous t'enverrons des nouvelles de l'équipage, de nos ordres de mission mais également de nos programmes d'enrôlement.
      <br>
    </p>
    <p>
      Pour t'inscrire à la prochaine session d'enrôlement  sur  <%=link_to "THP", @url %>.
    </p>
    <p>A bientôt moussaillon!!!</p> 

  </body>
</html>
